h1 {
    text-align: center;
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.logo1{
        width: 500px;
        height: 300px;
}

.logop{
    width: 300;
    height: 250;
}

   body{   
    margin: 0%;
    min-height: 100vh;
    background-image: url(imagenes/variedad\ tenis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

  body:before {  
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    
    background: linear-gradient(90deg, rgb(81, 155, 234), #c3a2e5);
    opacity: 0.7;
    z-index: -1;
}  



body{
    margin: 3px 15px;
}

a{
    color: black;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a:hover{
    background-color: aquamarine;
}

.img1, .logo1, .logop, .logo3{
    display: block;
    margin: auto;

}

/* *{
    background-color: rgb(31, 171, 125);
} */